.two-item-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 24px 0px;

}

.bold--it {
    font-weight: bold;
}

.item__two {
    font-size: 1.5rem;
    
}

.item__one {
    font-size: 1rem;
    font-weight: 500;
    /* border: 1px black solid; */
}

.item__one li {
    list-style: circle;
    /* padding: 5px 0px; */
}

.item__one img {
    height: 300px;
    width: auto;
    padding: 5px;
}

.interests {
    padding-top: 50px;
    
}

.about_me h2 {
    font-size:xx-large;
}

.about_me img {
    height: 300px;
    width: auto;
    padding: 5px;
}

.center {
    height: 300px;
    width: auto;
    padding: 5px;
    margin: auto;
    grid-column: 2;
}

.occupation__items p {
    font-weight: 300;
}

.width-it {
    max-width: 900px;
    font-weight: 400;
    margin: 10px 0px 30px 50px;
}